@page "/"
@using MiniDesmos

<input type="number" @bind-value="a" /><br />
<input type="number" @bind-value="b" /><br />
<input type="number" @bind-value="c" /><br />
<button @onclick="Draw">Draw</button>


<svg width="@width" height="@height" style="background-color:aqua">
    @((MarkupString)data)
</svg>


@code
{
    double a;
    double b;
    double c;

    string data = "";
    int width = 250, height = 550;

    void Draw()
    {
        Parabola p = new Parabola(1, 2 ,3);
        Point[] arr = p.GetPoints();
        for (int i = 0; i < arr.Length; i++)
        {
            data += $@"<circle cx=""{(arr[i].GetX()+10)*12.5}"" cy=""{(-arr[i].GetY()+10)*27.5}"" r=""1"" />";
        }
    }
}